<h1>Editing vacation</h1>
<div class="container">
  <%= render "form", vacation: @vacation %>
  <div>
    <br>
    <%= link_to "Back", vacations_path, class:"btn btn-secondary btn-sm" %>
  </div>
</div>
